body {
    background-image: linear-gradient(45deg, #271350, #007aaa);
    min-height: 100vh;
}

header {
    box-sizing: border-box;
    background-color: #FFF;
    width: calc(100% - 15*2px);
    margin: 15px;
    padding: 10px 25px;
    height: 75px;
    border-radius: 50px;
    box-shadow: 0 0 10px #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title p{
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #000;
}

.header-menus, .header-menus-account {
    height: 100%;
}

.header-menus-account img {
    height: 100%;
    border-radius: 50%;
    padding: 7.5px;
    background-color: #DDD;
}

