:root {
    --purple: #50f;
    --white: #FFF;
    --light-gray: #CCC;

    --main-gradient: linear-gradient(90deg, #247da3, #3902a8) 1;
    --dark-gradient: linear-gradient(90deg, #083c53, #220957);
}

header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vh;
    border-bottom: 5px solid;
    border-image: var(--main-gradient);

    background-image: var(--dark-gradient);
    z-index: 1;
}

/* HEADER-TITLE */

.header-title {
    font-family: 'Raleway', sans-serif;
    color: var(--white);
    font-size: 5vh;
}

/* HEADER-ACCOUNT */

.header-account {
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;

    color: var(--white);
}

.header-account p {
    font-size: 3vh;
    font-family: 'Roboto', sans-serif;

}

.header-account img{
    height: 100%;
    width: auto;
    margin-left: 1rem;
    padding: 5px;
    background-color: #0003;
    filter: invert(1);
    border-radius: 5px;
}

.header-account:hover:nth-child(1n) {
    text-decoration: underline;
}

.mobile-menu-button {
    display: none;
    height: 100%;
    background-color: var(--light-gray);
    padding: 5px;
    border-radius: 5px;
}

.mobile-menu-button img {
    height: 100%;
}

.mobile-menu {
    width: 80%;
    height: 85vh;
    background-color: rgba(255,255,255,0.95);
    border-right: 5px solid #aaa;
    position: fixed;
    z-index: 1;
    top: 15vh;
    left: -80%;
    transition: left .5s;

    padding: 25px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.mobile-menu img {
    width: 200px;
    padding: 25px;
    border-radius: 100px;
    background-color: #CCC5;
    margin-bottom: 10px;
}

.mobile-menu p {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
}

.mobile-menu--visible {
    left: 0;
}

@media screen and (max-width: 520px) { 
    header {
        position: fixed;
        padding: 20px 5px;
    }   

    .header-account {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }
}