*::selection {
    background-color: #007aaa;
}

body {
    background-image: linear-gradient(45deg, #271350, #007aaa);
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 25px; 
}

header {
    width: 100%;
    height: 75px;
    background-color: #FFF;
    margin: 0 auto 15px;
    border-radius: 37.5px;
    padding: 10px calc(75px / 2);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.header-title {
    width: 25%;
}

.header-title #title{
    font-family: 'Raleway', sans-serif;
    position: relative;
    font-size: 40px;
    text-decoration: underline;
    background-color: #FFF;
    z-index: 2;
}

.header-title #title-face {
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    z-index: 1;
    position: relative;
    left: -30px;
    transition: left .5s;
}

.header-title:hover #title-face {
    left: 0;
}

.header-account {
    height: inherit;
    width: 25%;
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-account:nth-child(1n):hover {
    text-decoration: underline;
    cursor: pointer;
}

.header-account p {
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.header-account img {
    height: 100%;
    padding: 10px;
    border-radius: calc(55px / 2);
    border: 2px solid #000;
    transition-property: transform, box-shadow, background;
    transition-duration: .5s;
}

.header-account img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 5px #000;
    background-color: #EEE;
}

.header-text {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 20px;
}