:root {
    --main-color: #1d152d;
}

* {
    box-sizing: border-box;
}

.show  {
    display: block;
}

.open-menu-button {
    display: none;
}

header {
    width: 100%;
    height: 100px;
    padding: 15px 0;
    background: linear-gradient(45deg, #003a52, #260072);
    position: fixed;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    width: fit-content;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    cursor: pointer;
}

.title img {
    height: 100%;
}

.title p {
    font-size: 40px;
    vertical-align: middle;
    color: #FFf;
}

.menu {
    display: flex;
    height: 100px;
    align-items: center;
}

.menu-button {
    display: inline-block;
    padding: 10px 25px;
    border-radius: 10px;
    margin-left: 15px;
    text-decoration: none;
    transition-property: background, color;
    transition-duration: .5s;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.login-button {
    border: 2px solid #FFF;
    color: #FFF;
}

.login-button:hover {
    background-color: #FFF;
    color: #1d152d;
}

.sign-button {
    border: 2px solid #cc55ff;
    color: #cc55ff;
}

.sign-button:hover {
    background-color: #cc55ff;
    color: #FFF;
}

@media screen and (max-width: 580px) {
    .menu-button {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 520px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    header {
        height: 75px;
        padding: 10px 5px;
    }

    .header-content {
        margin: 0 auto;
        padding: 10px;
    }

    .title img {
        display: none;
    }

    .title p {
        font-size: 30px;
    }

    .menu-button {
        height: 30px;
        font-size: 15px;
        padding: 5px 15px;
        margin: 0 0 0 5px;
    }

    /* .menu-list {
        display: none;
    } */

    .open-menu-button {
        display: block;
    }
}

@media screen and (max-width: 410px) {
    header {
        height: 100px;
    }
    .header-content {
        flex-direction: column;
    }

    .title p {
        margin-bottom: 5px;
    }
    
    /* .menu-list {
        display: none;
    } */
}