* {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 12.5vh;
    padding: 15px 0;
    
    background: linear-gradient(45deg, #003a52, #260072);
    position: fixed;
}

.header-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    width: fit-content;
    height: 100%;
    
    cursor: pointer;
    font-family: 'Raleway', sans-serif;

    display: flex;
    align-items: center;
}

.title img {
    height: 100%;
}

.title p {
    margin-left: 1vw;
    font-size: 5vh;
    color: #FFf;
}

.menu {
    height: 100%;

    display: flex;
    align-items: center;
}

.menu-button {
    padding: 5px 25px;
    margin-left: 15px;
    border-radius: 10px;
    
    transition-property: background, color;
    transition-duration: .5s;
    
    text-decoration: none;
    font-size: 2vh;
    font-weight: bolder;
    font-family: 'Roboto', sans-serif;
}

.login-button {
    border: 0.5vh solid #FFF;
    color: #FFF;
}

.login-button:hover {
    background-color: #FFF;
    color: #1d152d;
}

.sign-button {
    border: 0.5vh solid #cc55ff;
    color: #cc55ff;
}

.sign-button:hover {
    background-color: #cc55ff;
    color: #FFF;
}

.mobile-menu-button {
    height: 100%;
    background-color: #FFF2;
    padding: 10px;
    border-radius: 10px;
    display: none;
}

.mobile-menu {
    position: fixed;
    width: 75vw;
    min-height: 100vh;
    top: 100px;
    display: flex;
    left: -75vw;
    transition: left .5s;
    background-image: linear-gradient(90deg , #1e0255ee 90%, transparent );
}

.mobile-menu--visible {
    left: 0;
}

.mobile-menu-nav {
    width: 100%;
}

.mobile-link {
    border: 0;
    color: #FFF;
    font-size: 2rem;
    text-decoration: none;
    display: block;
    padding: 30px 15px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, rgb(119, 0, 255), transparent 90%) 1;
}

@media screen and (min-width: 521px) {
    .mobile-menu, .mobile-menu--visible {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .menu-button {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 520px) {
    body {
        margin: 0px;
        padding: 0px;
    }
    header {
        padding: 10px 5px;
    }

    .header-content {
        margin: 0 auto;
        padding: 10px;
        justify-content: space-between;
    }

    .title img {
        display: none;
    }

    .title p {
        font-size: 50px;
    }

    .menu {
        display: none;
    }

    .mobile-menu-button {
        display: block;
    }
}

@media screen and (max-width: 400px) {
    header {
        height: 100px;
    }

    .title p {
        font-size: 35px;
    }


}