footer {
    box-sizing: content-box;
    height: 105px;
    background-color: #110038;
    border-top: 5px solid;
    padding: 10px 0 ;
    border-image: linear-gradient(-90deg, rgb(0, 125, 255), rgb(183, 96, 255)) 1;
}

.footer-content {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-content img {
    height: 75px;
    width: 75px;
}

.footer-content p {
    margin: 20px 0 0 ;
    font-size: 12px;
    color: #FFF;
    font-family:'Courier New', Courier, monospace;
    font-weight: 500;
}