body {
    background-color: #0b001c;
}

.login-area {
    background-color: rgba(255,255,255,0.1);
    display: flex;
    flex-direction: column;
    height: calc(100vh - 130px - 125px - 158px);
    width: 400px;
    margin: 50px auto;
    padding: 25px 50px;
    border: 4px solid;
    border-image: linear-gradient(45deg, rgb(0, 125, 255), rgb(183, 96, 255)) 1;
}

h3 {
    text-align: center;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: #FFF;
    margin-bottom: 50px;
}

.input-container {
    margin-bottom: 50px;
}

.input-label {
    color: #FFF;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}


.input-area {
    width: 100%;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
}

button {
    position: relative;
    left: 50px;
    top: 25px;
    border: 4px solid #ba89ff;
    background-color: rgba(255,255,255,0.1);
    width: 75%;
    height: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100%;
    font-weight: bold;
    color: #FFF;
    transition: background .5s;
}

button:hover {
    background-color: #ba89ff;
    cursor: pointer;
}