@import url('../body.css');

#main-head {
    width: fit-content;
}

#main-form {
    width: 30rem;
}

.input-label {
    width: 100%;
}

.input-box {
    background-color: #0000;
    border: none;
    outline: none;

    display: block;

    width: inherit;
    
    caret-color: #fff;
    color: #fffa;

    border-bottom: 1px solid #fff3;

    transition: border .5s;
}

.input-box::placeholder {
    color: #aaa;
    cursor: text;
}

.input-box:focus{
    border-color: #fff;
}