@import url('../body.css');

.custom-header {
    background-color: #222230;
}

.custom-card {
    background-color: #0000;
}

.fs-7 {
    font-size: .875rem;
}

.card-header, .card-footer {
    background-color: #9995;
}

.card-body {
    background-color: #5555;
}