@import url('../body.css');

body {
    display: flex;
    flex-direction: column;
}

.w-20 {
    width: 20%!important;
    overflow: hidden!important;
}


.perfil-container {
    background-color: #5555;
    min-height: 100%;
}

.img-5 {
    width: 4rem; height: 4rem;
}

.emp-btn {
    background-size: cover;
    background-position: 50%;
    background-color: #9995;
}

.emp-btn h3 {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
}

.emp-btn:hover {
    background-color: #ccc5;
    transition: background .5s;
}

footer {
    background-color: #000;
}

td {
    vertical-align: middle;
}
