@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('../body.css');

:root {
    --text-purple: rgb(203, 89, 255);
    --dark-purple: rgb(155, 77, 201);
}

.main-row {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, transparent, var(--text-purple), transparent) 30;
}

.navbar-link:hover {
    background-color: #fff1;
    color: #fff !important;
    text-shadow: 0 0 2px #fff;
}

.objfit-cover {
    object-fit: cover;
}

.info-banner-img {
    max-height: 40vh;
}

.banner-title {
    color: var(--text-purple);
}

.btn-outline-purple {
    border: 1px solid var(--text-purple);
    color: var(--text-purple);
}

.btn-outline-purple:hover {
    background-color: var(--text-purple);
    color: #fff;
}

.about-banner,
.products-banner,
.info-banner-txt,
#products-section,
.product-card {
    background-color: #3333;
}

.info-title {
    color: var(--text-purple);
}

.purple {
    color: var(--dark-purple);
    text-shadow: 0 0 5px var(--dark-purple);
}

.info-card {
    background-color: #fff3;
}

.info-card:hover {
    box-shadow: 0 0 5px #fff3;
}

.text-justify {
    text-align: justify;
}

#info-section {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, transparent, var(--text-purple), transparent) 30;
}


.product-card:hover {
    box-shadow: 0 0 5px var(--dark-purple);
    background-color: #4443;
    transform: scale(1.05);

    transition: all .5s;
}

@media screen and (max-width: 768px) {

    #banner1, #banner2, #banner3 {
        background-size: cover;
        background-position: 50%;
    }

    #banner1 {
        background-image: url('../../Images/Home/banner1.webp');
    }

    #banner2 {
        background-image: url('../../Images/Home/banner2.webp');
    }

    #banner3 {
        background-image: url('../../Images/Home/banner3.webp');
    }

    .info-banner-txt {
        background-color: #000a;
    }
}