@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --text-purple: rgb(174, 0, 255);
}

body {
    background-color: #000;
    background-image: linear-gradient(45deg, #000000, #2f0f3f);

    min-height: 100vh;    
}

#header-nav {
    background-color: #222230;
}

#header-title {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.main-row {
    border-bottom: 2px solid;
    border-image: linear-gradient(90deg, transparent, var(--text-purple), transparent) 30;
}

.navbar-link:hover {
    background-color: #fff1;
    color: #fff!important;
    text-shadow: 0 0 2px #fff;
}

.objfit-cover {
    object-fit: cover;
}

.info-banner-img {
    max-height: 40vh;
}

.info-banner-txt {
    background-color: #5555;
}

.banner-title {
    color: var(--text-purple);
}

.btn-outline-purple {
    border: 1px solid var(--text-purple);
    color: var(--text-purple);
}

.btn-outline-purple:hover {
    background-color: var(--text-purple);
    color: #fff;
}